<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mostrar Datos de API</title>
</head>
<body>
  <h1>Datos de la API</h1>
  <ul>
    <% datos.forEach(dato => { %>
      <li>Fecha: <%= dato.date %>, Temperatura: <%= dato.temperatureC %>, Estado: <%= dato.summary %></li>
    <% }); %>
  </ul>
</body>
</html>
